@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #050505;
  --color-foreground: #e5e5e5;
  --color-muted: #27272a;
  --color-primary: #fafafa;
  --color-secondary: #52525b;
  --color-zinc-950: #09090b;

  /* Custom Fonts */
  --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', "Liberation Mono", "Courier New", 'monospace';
  --font-sans: 'Inter', 'sans-serif';

  /* Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in: fadeIn 0.3s ease-out;
}

/* Utilities */
@utility scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Base styles */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-mono);
    -webkit-font-smoothing: antialiased;
  }
}